
  <main class="main oh" id="main">

 <form action "/music" method="POST" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="nameof the song"></input>
   <a>choose Mp3</a> <input type="file" name="myimage"></input>
   <a>choose cover-photo</a>   <input type="file" name="coverPhoto" placeholder="place the cover-photo">
      <input class="btn-danger" type="submit" name="submit" value="submit"></input>
  </form>

  </main>



