
  <main class="main oh" id="main">
 <h2 class="page-header">ADD VIDEO</h2>
 

 <form action "/video" method="POST" enctype="multipart/form-data">
 <input type="text" name="name" placeholder= "name of the video"></input>
   <a>choose video</a>   <input type="file" name="myimage"></input>
      <input type="submit" name="submit" value="submit"></input>
  </form>


  </main><!-- end main-wrapper -->

  


