<section id="content">
                    <section class="vbox" id="bjax-el">
                        <section class="scrollable padder-lg">
                            <h2 class="font-thin m-b">Video</h2>
                            <div class="row row-sm">
                              {{#each video}}
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">  </div>
                                            </div>
                                            <div class="top"> 
                                            </div> <a><video  style="height:300px"  src="./../{{path}}" controls> </video></a>
                                        </div>
                                        <div class="padder-v"> <a href="video-detail.html" class="text-ellipsis">{{name}}
                                                Song</a> <a href="video-detail.html" class="text-ellipsis text-xs text-muted"></a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>

                            </section>
                            </section>
                            </section>