
  <main class="main oh" id="main">




 <form action "/youtube/" method="POST" >
      <input type="text" name="name"></input>
      <input type="url" name="url"></input>
    
     
      <input type="submit" name="submit" value="submit"></input>
  </form>



  </main>
